<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428207500984-no8uk50d4r86mnhbagjgkh26u5fif5a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428207500984-no8uk50d4r86mnhbagjgkh26u5fif5a6</string>
	<key>API_KEY</key>
	<string>AIzaSyDNMe5Omr2NowOC8uXIOCHgUmAtUbNgkko</string>
	<key>GCM_SENDER_ID</key>
	<string>428207500984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ist.undefined.kiosk.udfdkiosk</string>
	<key>PROJECT_ID</key>
	<string>airbnb-dmyk</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-dmyk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428207500984:ios:8f0e100746de21c7b38e4d</string>
	<key>DATABASE_URL</key>
	<string>https://airbnb-dmyk.firebaseio.com</string>
</dict>
</plist>